name: Continuous Deployment
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile.yml
          push: true
          tags: dillax/next_app:${{ github.sha }}

      - name: Clone gitops-argocd repo, update, and push
        env:
          PAT: ${{ secrets.PAT }}
        run: |
          git clone https://github.com/dillirams/gitops-argocd
          cd gitops-argocd
          sed -i 's|image: dillax/next_app:.*|image: dillax/next_app:${{ github.sha }}|' manifest.yml
          git config user.name "GitHub Actions Bot"
          git config user.email "actions@github.com"
          git add manifest.yml
          git commit -m "Update cms image to ${{ github.sha }}"
          git push https://${PAT}@github.com/dillirams/gitops-argocd.git main